/* 600px tablet min width 768 desktop  */
.h-bottom{
  margin-top: 6.5rem;
}
.m-tengah{
  margin:10em auto;
}
img{
  min-height: 280px;
  max-height: 280px;
  width: 100%;
}
.bg-auth{
  background-image:url(../img/loginpages.jpg);
}
.skrol ,body{
  scroll-behavior: smooth;
}
.background{
  background-image: url(../img/background.png);
}
.anime{
  height: 200px;
  width: auto;
}
.mt-100{
  margin-top:40% ;
}
.carousel-item .card{
  height:20rem;
}
.carousel{
  background-image: url(../img/background.png);
}
.navbar-item{
  display: flex;

}
.navbar-toggler{
  float: right;
}
.card-body{
  min-height:10rem;
  max-height: 10rem;
  width: auto;
}
.card-content img:hover{
  opacity: 0.4;
  cursor: pointer;
}
.card-content img{
  min-height: 280px;
  width: auto;
}
.row{
  padding: 10px;
}
.modal-body button{
  float: right;
  margin-right: 50%;
}
@media screen and (max-width:992px) {
  .navbar-item{
    display: flex;
    flex-direction: column;
  }
}

@media screen and(max-width:576px) {
  

  .carousel-item .card{
    width: 60px;
    height: 20px;
  }
}
