/* 600px tablet min width 768 desktop  */
.navbar-item{
  display: flex;

}
.navbar-toggler{
  float: right;
}
.card-body{
  min-height:10px;
  max-height: 120px;
  width: auto;
}
.card-content img:hover{
  opacity: 0.4;
  cursor: pointer;
}
.card-content img{
  min-height: 280px;
  width: auto;
}
.row{
  padding: 10px;
}
.modal-body button{
  float: right;
  margin-right: 50%;
}
@media screen and (max-width:992px) {
  .navbar-item{
    display: flex;
    flex-direction: column;
  }
}