/* 600px tablet min width 768 desktop  */
*{
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* card food etc */
.card img{
  padding: 4.25px;
  border-radius: 9.5px;
  border-color: grey;
}
.about{
  background-color: rgba(211, 211, 211, 60%);
}
.informasi{
  color: rgb(21, 158, 51);
  /* rgb(211, 40, 174) */
  background-color: rgb(225, 226, 225);
  border-radius: 100px;
  padding: 10px;
}
.informasi:hover{
  color: white;
  background-color: rgb(21, 158, 51);
  border-radius: 100px;
  transition: all 0.5s;
}
/* products */
.products{
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  
  padding: 6px;
  background-image: url(../img/background.png);
}
.products img{
  padding: 20px;
  border-radius:70%;
  background-color: rgb(204, 196, 196);
}
.products img:hover{
  opacity: 0.7;
  cursor: pointer;
}

.h-bottom{
  margin-top: 6.5rem;
}
.m-tengah{
  margin:10em auto;
}
img{
  min-height: 280px;
  max-height: 280px;
  width: 100%;
}
.bg-auth{
  background-image:url(../img/loginpages.jpg);
}
.skrol ,body{
  scroll-behavior: smooth;
}
.background{
  background-image: url(../img/background.png);
  width: 100%;
  height: auto;
}
.mt-100{
  margin-top:40% ;
}
.carousel-item .card{
  height:20rem;
}
.carousel-item{
  display: flex;

}
.carousel{
  background-image: url(../img/background.png);
}
.navbar-item{
  display: flex;
  gap: 10px;
}
.navbar-toggler{
  float: right;
}
.card-body{
  min-height:10rem;
  max-height: 10rem;
  width: auto;
}
.card-content img:hover{
  opacity: 0.4;
  cursor: pointer;
}
.card-content img{
  min-height: 280px;
  width: auto;
}
.row{
  padding: 10px;
}
.modal-body button{
  float: right;
  margin-right: 50%;
}
cursor{
  background-color: greenyellow;
}
/* smoot scroll */
.smooth{
  scroll-behavior: smooth;
  transition: all 0.2s;
}
@media screen and (max-width:992px) {
  .navbar-item{
    display: flex;
    flex-direction: column;
  }
}

@media screen and(max-width:600px) {
  button .informasi{
    color: white;
    background-color: rgb(211, 40, 174);
    border-radius: 100px;
    transition: all 0.5s;
  }
}

a{
  text-decoration: none;
  color: black;
}
footer{
  border-top: solid rgb(31, 218, 62);
}